@import './variable.scss';
@import './buttons.scss';

.createx {
	margin-top: 11.25rem;
	position: relative;
	&::before {
		content: '';
		background-image: url('../../public/assets/images/svg/dots.svg');
		background-repeat: no-repeat;
		width: 181px;
		height: 132px;
		position: absolute;
		top: 0;
		@media (max-width: 1400px) {
			left: -60px;
		}
	}
	&::after {
		content: '';
		background-image: url('../../public/assets/images/svg/circles.svg');
		background-repeat: no-repeat;
		width: 100px;
		height: 287px;
		position: absolute;
		top: 250px;
		right: 0;
	}
	&-wrapper {
		display: flex;
		justify-content: space-between;
		.createx-left {
			background-image: url('../../public/assets/images/jpg/createx-user.png');
			width: 705px;
			height: 560px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.createx-right {
			&-header {
				h2 {
					font-family: 'Lato';
					font-weight: 900;
					font-size: 2.875rem;
					color: $secondColor;
					margin: 0.5rem 0 1.875rem 0;
				}
				h4 {
					font-family: 'Lato';
					font-weight: 700;
					font-size: 1rem;
					letter-spacing: 1px;
					text-transform: uppercase;
					color: $secondColor;
				}
			}
			&-list {
				max-width: 386px;
				width: 100%;
				margin-bottom: 1.375rem;
				// padding: 10px 10px 10px 30px;
				&__item {
					line-height: 160%;
					font-family: 'Lato';
					font-weight: 400;
					font-size: 1rem;
					color: $mainColor;
					margin-bottom: 0.75rem;
					position: relative;
					&::before {
						content: '';
						background-image: url('../../public/assets/images/svg/Vector.svg');
						background-repeat: no-repeat;
						background-size: cover;
						width: 16px;
						height: 16px;
						position: absolute;
						top: 6px;
						left: -25px;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
